
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.5%; /* #F6F6F6 */
    --foreground: 0 0% 20.4%; /* #343434 */

    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 20.4%; /* #343434 */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 20.4%; /* #343434 */

    --primary: 150 100% 27%; /* #00893D */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 164 100% 18.4%; /* #005E46 */
    --secondary-foreground: 0 0% 100%; /* White */

    --tertiary: 193 24% 37%; /* #476E75 */

    --muted: 0 0% 96.5%; /* #F6F6F6 */
    --muted-foreground: 0 0% 39.2%; /* #646464 */

    --accent: 150 100% 27%; /* #00893D */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 356 89% 42%; /* #CB0B15 */
    --destructive-foreground: 0 0% 100%; /* White */

    --success: 84 40% 58%; /* #A1C861 */
    --success-foreground: 0 0% 20.4%; /* #343434 */

    --warning: 44 100% 45.7%; /* #E9B300 */
    --warning-foreground: 0 0% 20.4%; /* #343434 */

    --info: 191 73% 41%; /* #1C98B5 */
    --info-foreground: 0 0% 100%; /* White */

    --outline: 0 0% 82%; /* #D0D0D0 */

    --border: 0 0% 82%; /* #D0D0D0 */
    --input: 0 0% 82%; /* #D0D0D0 */
    --ring: 150 100% 27%; /* #00893D */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-secondary/20;
    border-radius: 3px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 3px;
  }
  
  .status-indicator {
    @apply inline-block w-3 h-3 rounded-full mr-2;
  }
  
  .status-ok {
    @apply bg-success;
  }
  
  .status-warning {
    @apply bg-warning;
  }
  
  .status-error {
    @apply bg-destructive;
  }
}
